chat-messages {
  display: block;
  flex: 1;
  padding: 1rem calc(50% - 400px);
  background: var(--color-background);
  scroll-behavior: smooth;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

@media (max-width: 768px) {
  chat-messages {
    padding: 1rem 1rem 100px 1rem;
  }
}

@media (max-width: 480px) {
  chat-messages {
    padding: 0.75rem 0.75rem 90px 0.75rem;
  }
}
