chat-messages {
  display: block;
  flex: 1;
  padding: 20px calc(50% - 350px) 100px calc(50% - 350px);
  scroll-behavior: smooth;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  chat-messages {
    padding: 16px 16px 60px 16px;
  }
}

@media (max-width: 480px) {
  chat-messages {
    padding: 12px 12px 50px 12px;
  }
}
